@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 245, 120, 0.13) 0%, rgba(255, 230, 100, 0.08) 60%, transparent 100%);
  filter: blur(40px);
}

/* Pour que le contenu reste au-dessus */
body>* {
  position: relative;
  z-index: 1;
}

body {
  color : var(--color-foreground);
  background-color: #040005;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
